@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary: hsl(0deg 0% 90.2%);
    --white: #ffffff;
    --blue: #024b8c;
    --light-blue: rgb(101 173 217);
    --extra-light-blue: #a4c2e2;
    --brown: #686868;
    --dark_brown: #656565;
    --black: #000000;
    --purple: #6990bb;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.main-container {
    height: 100dvh;
}

.bg-color {
    background-color: var(--primary);
}

.bg-color2 {
    background-color: var(--blue);
}

.flex {
    display: flex;
}

.center-center {
    align-items: center;
    justify-content: center;
}

.a-center {
    align-items: center;
}

.j-center {
    justify-content: center;
}

.absolute {
    position: absolute;
}

.font-xxxlarge {
    font-size: xxx-large;
}

.font-xxlarge {
    font-size: xx-large;
    font-weight: 600;
}

.font-xlarge {
    font-size: x-large;
}

.margin-0 {
    margin: 0;
}

.column {
    flex-direction: column;
}

.white-color {
    color: var(--white);
}

.extra-blue-color {
    color: var(--extra-light-blue);
}

.black-color {
    color: var(--black);
}

.brown-color {
    color: var(--brown);
}

.purple-color {
    color: var(--purple);
}

.relative {
    position: relative;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.width-37 {
    width: 37%;
}

.width-30 {
    width: 30%;
}

.width-45 {
    width: 45%;
}

.width-50 {
    width: 50%;
}

.width-55 {
    width: 55%;
}

.width-100 {
    width: 100%;
}

.padding-10-20 {
    padding: 10px 20px;
}

.gap-7px {
    gap: 7px;
}

.gap-5px {
    gap: 5px;
}

.gap-1em {
    gap: 1em;
}

hr {
    position: absolute;
    width: 100%;
    left: 0;
    top: calc(50% - 7px);
}

.height-326px {
    height: 326px;
}

nav img {
    cursor: pointer;
}

.screen-container {
    background-color: var(--primary);
    margin-left: 8px;
    margin-right: 8px;
}

.search {
    padding: 0px 0px 0px 23px;
}

.searchIcon {
    right: calc(50% - 12px);
}

.degree {
    margin-bottom: 13px;
}

.day {
    width: 154px;
    cursor: pointer;
    bottom: 0;
    left: 0;
    background-color: #e6e6e68c;
}

.day:nth-child(1) {
    background-color: var(--primary);
}

.days {
    bottom: 14px;
    width: 98%;
    left: 3.5px;
}

.dayTitle {
    color: var(--brown);
}

.degreeLeft {
    color: var(--dark_brown);
}

.percetageHumidity img {
    color: var(--blue);
}

.soon {
    left: calc(50% - 33px);
    top: calc(50% - 36px);
    font-size: x-large;
    color: #b9b9b9;
    z-index: 1;
}

.hidden {
    visibility: hidden;
}

.history {
    width: 160px;
    background-color: var(--white);
    top: 37px;
    left: 0;
    padding: 2px 0px;
    border-radius: 10px;
}

.history small {
    background-color: var(--blue);
    border-radius: 10px;
    color: white;
    cursor: pointer;
    padding: 1px;
}

.degreeRotate {
    rotate: 90deg;
}

@media only screen and (max-width: 1117px) {

    .screen-container {
        width: 491px;
    }

    .searchIcon {
        left: calc(50% - -34px);
    }

    .search {
        width: 167px;
    }

    .days {
        bottom: 14px;
        width: 98%;
        left: 7px;
    }

    .history {
        width: 200px;
        max-height: 188px;
        overflow-y: auto;
    }
}

@media only screen and (max-width: 700px) {

    .screen-container {
        width: 100%;
    }

    .searchIcon {
        left: calc(100% - 23px);
        top: 24px;
    }

    .search {
        padding: 0px;
    }

    .day {
        width: 216px;
    }

    .days {
        left: 4.8px;
        width: 98.7%;
    }

    .history {
        width: 160px;
    }
}

@media only screen and (max-width: 400px) {
    .time-400, .weather400, .temp-400, .container-400, .nav-400 {
        flex-direction: column;
        align-items: center;
    }

    .container-400 {
        justify-content: space-between;
    }

    .p-400 {
        text-align: center;
    }

    .days-400 {
        display: none;
    }

    .container-2-400 {
        padding-top: 202px;
    }

    .searchIcon img {
        display: none;
    }
}

@media only screen and (max-width: 300px) {
    .container-2-400 {
        padding-top: 284px;
    }
}

